header {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
}

ul {
    padding: 15px 15px 0px 15px;
    display: flex;
    justify-content: space-between;
}

a {
    padding: 6px 16px;
    margin: 0 5px;
    font-size: 1.1rem;
}

a:hover {
    background-color: #222;
    color: #fff;
    border-radius: 9px;
}

main {
    display: flex;
    justify-content: center;
}

section {
    margin: 20px 0px 20px 0px;
    border-radius: 60px;
}

h2 {
    padding: 40px 0px 0px 0px;
    display: flex;
    justify-content: center;
}

.articulo {
    display: flex;
    justify-content: center;
}

#guitarras {
    border: solid gray;
    border-radius: 40px;
    padding: 40px 0px 40px 0px;
    display: flex;
    justify-content: space-between;
}

img {
    margin: 0px 50px 0px 50px;
    height: 300px;
}

#jackson {
    width: 350px;
}

#gibson {
    width: 230px;
}

#fender {
    width: 320px;
}

#nombres {
    display: flex;
    justify-content: space-around;
}

li {
    font-size: 1.3rem
}

article {
    display: flex;
    justify-content: space-around;
}

.marcas {
    display: flex;
    padding: 20px 60px 0px 0px;
}

#strato {
    padding: 20px 0px 0px 0px;
    display: flex;
    margin-left: 40px;
}

footer {
    height: 100px;
    display: flex;
    margin-top: 40px;
    justify-content: center;
}

.red {
    margin-right: 50px;
}
